html {
  font-size: 100%;
}

/*It's important for high res narrow devices
	@media screen and (max-device-width: 350px) {
  It's for testing out on desktop*/
  @media screen and (max-width: 350px) {
    html { font-size: 80%; }
  }

  /*It's important for high res narrow devices
	@media screen and (max-device-width: 1000px) {
  It's for testing out on desktop*/
	@media screen and (max-width: 1000px) {
		html { font-size: 90%; }
	}

  /*It's important for high res narrow devices
	@media screen and (min-device-width: 1660px) {
  It's for testing out on desktop*/
	@media screen and (min-width: 1660px) {
		html { font-size: 110%; }
	}

body {
  font-weight: 400;
  font-size: var(--base-font-size);
  line-height: 1.5;
}

h1 { font-size: calc(var(--base-font-size) * 3) }
h2 { font-size: calc(var(--base-font-size) * 2.6) }
h3 { font-size: calc(var(--base-font-size) * 1.2) }
h4 { font-size: calc(var(--base-font-size) * 1.1) }
h5 { font-size: calc(var(--base-font-size) * 0.8) }

h1, h2, h3, h4, h5 {
  transition: color .6s;
  /* letter-spacing: 0.1rem; */
  /* margin-top: calc(var(--space)*2); */
}

h1 {
  line-height: 1.5;
  font-variation-settings: var(--font-flex-bold);
}

h2, h3, h4, h5 {
  line-height: 1.5;
  margin-bottom: var(--space);
  /* font-weight: 400; */
}

h2:first-child, h3:first-child, h4:first-child, h5:first-child { margin-top: 0 }
h2:last-child, h3:last-child, h4:last-child, h5:last-child { margin-bottom: 0 }

h1 b, h2 b, h3 b {
  display: block;
}


blockquote {
  font-size: 110%;
  font-weight: 300;
  font-style: italic;
  padding: var(--space);
  background-color: var(--text-color-invert);

  border-left: 1px solid var(--text-color);
}

em {
  font-style: italic;
}

ul {
  margin-left: 1rem;
}

ol {
  list-style-type: decimal;
  margin-left: var(--space-text);
}

ol li {
  margin-bottom: .6rem;
}

p {
  font-size: calc(var(--base-font-size) * 1.2);
  font-weight: 300;
  line-height: 1.5;
  font-variation-settings: 'GRAD' 132, 'wdth' 120;
}

a:not(.button):hover, .link:not(.button):hover {
  color: var(--color-link-hover);
}

.hyphens{
  text-align: justify !important;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.align-right { text-align: right; }
.text-left, .align-left { text-align: left; }
.text-center, .align-center { text-align: center; }

p, ul, ol, blockquote, table, dd {
  margin-bottom: var(--space-text);
}

p.text-small {
  margin-bottom: calc(var(--space-text) * 0.5);
}

p:last-child, ul:last-child, ol:last-child, blockquote:last-child, table:last-child, dd:last-child {
  margin-bottom: 0;
}

.title-blue {
  font-size: calc(var(--base-font-size) * 1.5);
  color: var(--text-accent)
}

.title-blue--light {
  font-variation-settings: var(--font-flex-italic-light);
}

/* link with arrow */
.link-with-arrow {
  display: inline-block;
  padding-right: 50px;
  font-weight: 500;
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.0024 11.5876V14.4116L13.7345 25.4953L11.4874 23.0963L20.9313 14.6849H0.100098V11.4054H20.992L11.4874 2.751L13.9167 0.503906L26.0024 11.5876Z' fill='%23191919'/%3E%3C/svg%3E%0A");
  background-size: 25px 25px;
  background-position: right center;
  background-repeat: no-repeat;
  font-variation-settings: 'GRAD' 132, 'wdth' 120;
}

/* underline for links */
.underline {
  position: relative;
}

.underline::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-dark);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, width 0.33s ease-in-out, background-color 0.33s ease-in-out;
}

.underline:hover::after {
  width: 100%;
  opacity: 1;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left !important;
}


@media screen and (max-width: 595px) {
  h1 { font-size: calc(var(--base-font-size) * 2.4) }
  h2 { font-size: calc(var(--base-font-size) * 2.1) }
  h3 { font-size: calc(var(--base-font-size) * 1.2) };
  h4 { font-size: calc(var(--base-font-size) * 0.8) }
  h5 { font-size: calc(var(--base-font-size) * 0.5) }

  p, li {
    font-size: var(--base-font-size);
  }
}

