.swiper-wrapper {
  margin-bottom: calc(var(--space) * 1.5);
}

.swiper-pagination {
  position: static;
}

.swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  background: var(--color-light);
  border: 1px solid var(--color-dark);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: var(--color-dark);
}
