---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';

import IOT from '../assets/img/multi-agent-systems.webp';
import DECOR1 from '../assets/img/about-us-1.webp';
import DECOR2 from '../assets/img/about-us-2.webp';
---

<Layout
  title="О нас / YourSpace"
  description="Узнайте больше о мультиагентных системах и YourSpace"
  isDark
>

  <!-- Multi-agents systems -->
  <section class="mas">
    <div class="layout">
      <h1>Мультиагентные системы -</h1>
      <div class="wrapper"> 
        <p class="title-blue mas__descr">
          <span class="title-blue--light">Это команда профессионалов с многолетним опытом в IoT и умных домах.</span> <b>Мы знаем, как сделать домашнюю жизнь комфортнее, эстетичнее и безопаснее.</b></p>
        <div class="decor-image">
          <Image src={IOT} alt="iot solutions"/>
        </div>
      </div>

      <div class="wrapper"> 
        <div class="decor-image decor-image--second">
          <Image src={DECOR1} alt="" aria-hidden="true"/>
        </div>
        <div class="mas__text">
          <p>Наша философия заключается в том, что умный дом не должен отвлекать вас от дел постоянной необходимостью использовать телефон или панель, поэтому мы проектируем систему так, чтобы она подстраивалась под ваши привычки. Но и красивые панели и голосовое управление остаются доступны! При этом данные хранятся локально, так что никто не сможет за вами “подглядывать”.</p>
          <p>Мы работаем по Санкт-Петербургу и Ленинградской области, возможны выезды в другие регионы. Работа по договору, оплата по карте. </p>

          <div class="title-blue">
            <span>Гарантия - 1 год.</span>
            Поддержка - навсегда!
          </div>
        </div>
      </div>

      <p class="mas__feecc">Помимо компетенций в сфере умных домов и IoT, наша компания занимается разработкой ПО. Информация на <a class="title-blue underline" href="https://feecc.ru/" aria-label="Узнайте больше о наших разработках" target="_blank">feecc.ru</a></p>
    </div>
  </section>

  <!-- Contacts-->
  <section id="contacts" class="contacts">
    <div class="layout">
      <h2>Узнайте, каким будет <span>Ваш личный умный дом</span></h2>
      <div class="wrapper">
        <div class="contacts__content">
          <div class="title-blue">
            <span>Получите консультацию</span>
            и запланируйте замер
          </div>

          <div class="contacts__options">
            <a aria-label="Свяжитесь с нами по почте - sales@multi-agent.io" class="underline contacts__email" href="mailto:sales@multi-agent.io">sales@multi-agent.io</a>
            <a aria-label="Позвоните нам по номеру -  +79219828061" class="underline contacts__phone" href="tel:+79219828061">+7 (921) 982-80-61</a>
            <a href="https://t.me/MultiAgent_io" class="contacts__telegram underline">@MultiAgent_io</a>
          </div>

          <div class="contacts__address">
            <address>
              <span>195299, г. Санкт-Петербург,</span>
              <span>ул. Киришская, д. 2, литера А,</span>
              <span>помещ. 2-Н, каб. К18-3.</span>
              <span>ИНН/ОГРН: 7840097350/1217800127050</span>
            </address>
          </div>
          <h4>Мы на связи ежедневно с 9:00 до 20:00.</h4>
        </div>
        <div class="contacts__decor-image">
          <Image src={DECOR2} alt="" aria-hidden="true"/>
        </div>
      </div>
    </div>
  </section>

</Layout>


<style>
  h1 {
    margin-bottom: calc(var(--space) * 2);
  }

  p {
    margin-bottom: var(--space-half);
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: var(--space);
    margin-bottom:  calc(var(--space) * 2);
  }

  /* mas block */

  .mas {
    position: relative;
    margin-bottom: var(--space-section);
    overflow: hidden;
  }

  .mas .decor-image:not(.decor-image--second) {
    max-width: 700px;
    width: 100%;
    min-height: 60vh;
    height: 100%;
  }

  .mas .decor-image:not(.decor-image--second) img {
    position: absolute;
    top: 15vh;
    right: 0;
    bottom: 0;
    width: 50vw; 
    object-fit: cover;
    z-index: 0;
  }

  .mas__descr {
    max-width: 800px;
    align-self: start;
  }

  .mas__text p:last-of-type {
    margin-bottom: calc(var(--space) * 2);
  }

  .mas__text .title-blue span, .contacts .title-blue span {
    display: block;
  }

  .mas__feecc {
    max-width: 1200px;
    font-size: calc(var(--base-font-size) * 1.5);
    font-variation-settings: var(--font-flex-medium);
  }

   .mas__feecc a {
    font-variation-settings: var(--font-flex-medium);
   }

    .mas__feecc a:hover {
      color: var(--text-accent)
    }

  /* contacts block */

  .contacts h2 {
    text-transform: uppercase;
  }

  .contacts h2 span {
    display: block;
  }

  .contacts__content {
    align-self: start;
  }

  .contacts__content .title-blue {
    margin-bottom: var(--space);
  }

  .contacts__options {
    display: inline-flex;
    flex-direction: column;
    gap: calc(var(--space-half) * 0.5);
    margin-bottom: var(--space);
  }

  .contacts__telegram, .contacts__phone, .contacts__email {
    padding-left: 30px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    font-variation-settings: var(--font-flex-light);
  }

  .contacts__email {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='17' viewBox='0 0 25 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_4145_16862)'%3E%3Cpath d='M24.2456 13.6084V3.39131C24.2456 1.9126 22.9791 0.713867 21.4167 0.713867L3.58326 0.713867C2.0209 0.713867 0.754356 1.9126 0.754356 3.39131V13.6084C0.754356 15.0872 2.0209 16.2859 3.58326 16.2859H21.4167C22.9791 16.2859 24.2456 15.0872 24.2456 13.6084Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M23.2574 1.8208L12.4472 9.37477L1.63696 1.8208' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4145_16862'%3E%3Crect width='25' height='17' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }

  .contacts__phone {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='27' viewBox='0 0 16 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_4145_16866)'%3E%3Cpath d='M12.5185 0.731934H3.48142C1.96346 0.731934 0.73291 1.96109 0.73291 3.47732V23.5223C0.73291 25.0386 1.96346 26.2677 3.48142 26.2677H12.5185C14.0365 26.2677 15.267 25.0386 15.267 23.5223V3.47732C15.267 1.96109 14.0365 0.731934 12.5185 0.731934Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.02478 4.10693H9.85804' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4145_16866'%3E%3Crect width='16' height='27' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }

  .contacts__telegram {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6221 0.344727C17.9494 0.344727 23.0782 5.47358 23.0782 11.8008C23.0782 18.1281 17.9494 23.2569 11.6221 23.2569C5.29487 23.2569 0.166016 18.1281 0.166016 11.8008C0.166016 5.47358 5.29487 0.344727 11.6221 0.344727ZM15.574 16.4704C15.7847 15.8239 16.7719 9.38061 16.8939 8.11097C16.9308 7.72644 16.8093 7.47092 16.5712 7.35686C16.2833 7.21839 15.8569 7.28763 15.3623 7.46594C14.6839 7.71051 6.01112 11.3929 5.51004 11.6061C5.03486 11.8078 4.58558 12.028 4.58558 12.3467C4.58558 12.5709 4.71857 12.6969 5.08517 12.8279C5.46671 12.9639 6.42753 13.2553 6.99485 13.4117C7.54126 13.5626 8.16338 13.4316 8.51204 13.2149C8.88162 12.9853 13.1468 10.1312 13.4531 9.88119C13.7589 9.63115 14.003 9.95142 13.753 10.202C13.5029 10.452 10.5751 13.2936 10.1891 13.6871C9.72041 14.1648 10.0531 14.6599 10.3674 14.8581C10.7266 15.0843 13.3092 16.8166 13.6982 17.0946C14.0872 17.3725 14.4817 17.4985 14.8428 17.4985C15.2039 17.4985 15.3942 17.0228 15.574 16.4704Z' fill='white'/%3E%3C/svg%3E%0A");
  }

  .contacts__address {
    font-variation-settings: var(--font-flex-light);
    margin-bottom: calc(var(--space) * 2);
  }

  .contacts__address address {
    display: flex;
    flex-direction: column;
    font-style: normal;
    gap: calc(var(--space-half) * 0.5);
  }

  .contacts h4 {
    font-size: calc(var(--base-font-size) * 1.5);
  }

  /* media queries */

  @media screen and (max-width: 800px) {
    .wrapper {
      grid-template-columns:  1fr;
    }

    .decor-image--second {
      order: 1;
    }

    .mas .decor-image:not(.decor-image--second) {
      max-width: unset;
      min-height: unset;
    }

    .mas .decor-image:not(.decor-image--second) img {
      position: static;
      width: 100%;
    }
  }

  @media screen and (max-width: 460px) {
    h1 {
      font-size: calc(var(--base-font-size) * 1.8);
    }
  }
</style>