---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Политика использования cookies / YourSpace"
  description="Узнайте больше о политике использования cookies YourSpace"
>

  <section class="rights">
    <div class="layout">
      <h1>Политика использования cookies</h1>
      <div class="rights__update">Последнее обновление: <b>Июнь 2025</b></div>
      <div class="rights__content">
        <ol class="list list--ordered">
          <li class="list__item list__item--ol">
            <h2>Назначение</h2>
            <ul class="list list--unordered">
              <li class="list__item">
                1.1. Настоящий документ определяет политику Общества с ограниченной ответственностью «МУЛЬТИАГЕНТНЫЕ СИСТЕМЫ» (ОГРН 1217800127050, ИНН 7840097350, юридический адрес: 195299, Город Санкт-Петербург, вн.тер.г. муниципальный округ № 21, ул Киришская, д. 2, литера А, помещ. 2-Н, каб. К18-3, e-mail: <a aria-label="Свяжитесь с нами по почте - sales@multi-agent.io" class="underline" href="mailto:sales@multi-agent.io">sales@multi-agent.io</a>, WhatsApp/Telegram: +7(904)617-93-64) далее – «МУЛЬТИАГЕНТНЫЕ СИСТЕМЫ» / «мы») в отношении использования cookies.
              </li>
              <li class="list__item">
                1.2. Текущая редакция Политики размещается на сайте Оператора по адресу <a href="https://multi-agent.io/сookies/" aria-label="Политика использования cookies на нашем сайта" target="_blank" class="underline">https://multi-agent.io/сookies/</a> и <a href="https://shop.multi-agent.io/cookies/" aria-label="Политика использования cookies на сайте магазина умных устройств" target="_blank" class="underline">https://shop.multi-agent.io/cookies//</a> в общем доступе и вступает в силу с момента её размещения.
              </li>
              <li class="list__item">
                1.3. Сайт <a href="https://multi-agent.io" aria-label="Перейти на главную страницу нашего сайта" target="_blank" class="underline">https://multi-agent.io</a>, а также его поддомены (далее — «Сайт») использует файлы cookie и схожие технологии, чтобы гарантировать максимальное удобство пользователям (далее — «Пользователи»), а также помогая получить нужную Пользователю информацию. При использовании данного сайта, вы подтверждаете свое согласие на использование файлов cookie в соответствии с настоящим уведомлением в отношении данного типа файлов. Если вы не согласны с тем, чтобы мы использовали данный тип файлов, то вы должны соответствующим образом установить настройки вашего браузера или не использовать Сайт.
              </li>
            </ul>
          </li>
          <li class="list__item list__item--ol">
            <h2>Cookie, метки (тэги) и схожие технологии</h2>
            <ul class="list list--unordered">
              <li class="list__item">
                2.1. Cookie – текстовый файл небольшого размера, который направляется веб-сервером и сохраняется на компьютере, мобильном телефоне или любом другом устройстве, имеющем доступ в сеть Интернет, при посещении веб-сайта.               
              </li>
              <li class="list__item">
                2.2. Каждый раз при открытии страницы соответствующего веб-сайта Ваш веб-клиент (веб-браузер) пересылает указанный текстовый файл веб-серверу в составе HTTP-запроса, чтобы предоставить такому веб-серверу информацию о Ваших действиях или предпочтениях в Интернете. При этом для обеспечения безопасности и сохранности Ваших данных Ваш веб-клиент (веб-браузер), как правило, не передает cookie, предназначенные для одного веб-сайта, другим ресурсам.
              </li>
              <li class="list__item">
                2.3. Вы можете как удалять уже сохраненные cookie по своему желанию, так и ограничить (запретить) их сбор, задав соответствующие настройки в Вашем веб-клиенте (веб-браузере). Более подробную информацию о том, как это сделать, Вы можете найти в разделе 5 настоящей Политики. Обращаем Ваше внимание, что в указанном случае мы не сможем гарантировать работоспособность Сайта и доступность его функционала в полном объеме.
              </li>
            </ul>
          </li>
          <li class="list__item list__item--ol">
            <h2>Как мы используем cookie</h2>
            <ul class="list list--unordered">
              <li class="list__item">
                3.1. Мы используем cookie для следующих целей:
                
                <ul class="list list-inside">
                  <li class="list__item">3.1.1. обеспечения функционирования и безопасности Сайта;</li>
                  <li class="list__item">3.1.2. улучшения работы Сайта;</li>
                  <li class="list__item">3.1.3. сбора информации о пользовательской сессии, формирования статистики использования Сайта (например, подсчета посетителей Сайта, выявления часов пиковой пользовательской активности), анализа опыта пользовательского взаимодействия с Сайтом (например, определения индивидуального «пути следования» пользователя при использовании Сайта), т.е. для оптимизации дизайна и структуры Сайта с точки зрения удобства его использования, оперативного поиска нужной информации и общего улучшения пользовательского опыта;</li>
                  <li class="list__item">3.1.4. сбора информации о количестве просмотров рекламы и переходов по рекламным ссылкам (оценка конверсии), а также настройки индивидуального показа рекламы на Сайте (например, Вам не будет повторно демонстрироваться та реклама, которую Вы недавно видели);</li>
                </ul>
              </li>
              <li class="list__item">
                3.2. Ваше согласие в соответствии с настоящей Политикой действует до тех пор, пока Вы не примете решение удалить сохраненные cookie и (или) ограничить (запретить) их сбор, как это описано в разделе 5 настоящей Политики.
              </li>
            </ul>
          </li>
          <li class="list__item list__item--ol">
            <h2>Какие cookie мы используем</h2>
            <ul class="list list--unordered">
              <li class="list__item">
                4.1. <b>Основные cookie</b>. Данные cookie необходимы для того, чтобы обеспечить базовое функционирование Сайта. В частности, они позволяют пользователям, перемещаться по Сайту и просматривать его содержимое, а также позволяют «узнавать» пользователя для возможности предоставить запрошенную им услугу.          
              </li>
              <li class="list__item">
                4.2. <b>Эксплуатационные cookie</b>. Данные cookie собирают информацию о том, каким образом пользователь использует Сайт (например, каким веб-клиентом (веб-браузером) он пользуется для посещения Сайта), что позволяет нам улучшать навигацию на Сайте, делать его более удобным и отвечающим потребностям пользователей, а также исправлять технические ошибки по мере их возникновения и обеспечивать безопасность Сайта. К примеру, этот вид cookie помогает нам понять, каким образом пользователь заходит на Сайт, просматривает или использует Сайт, и выявить пути оптимизации Сайта.
              </li>
              <li class="list__item">
                4.3. <b>Сессионные</b>. Существуют только во временной памяти в течение времени, когда пользователь находится на странице веб-сайта. Обычно сессионные Cookies удаляют после того, как Вы закрываете окно веб-сайта. Сессионные Cookies позволяют помнить информацию о Вашем выборе на предыдущей странице, чтобы избежать необходимости повторного ввода информации.
              </li>
              <li class="list__item">
                4.4. <b>Постоянные</b>. Сookies, которые хранятся на Вашем компьютере или мобильном устройстве и не удаляются при закрытии браузера. Постоянные Сookies могут сохранять пользовательские настройки для определенного веб- сайта, позволяя использовать эти предпочтения в будущих сеансах использования веб-сайта. Такие Cookies позволяют идентифицировать Вас как уникального пользователя и при возвращении на веб-сайт помогают вспомнить информацию о Вас и ранее совершенных Вами действиях.
              </li>
              <li class="list__item">
                4.5. <b>Аналитические/маркетинговые</b>. Включают в себя информацию о том, как Вы используете веб-сайт, например, какие страницы Вы посещаете, по каким ссылкам переходите. Мы используем эти Cookies, в основном для того, чтобы улучшить функционал веб-сайта и Ваш пользовательский опыт при его использовании. Иногда такие Cookies также позволяют нам определить Ваши предпочтения и предоставить Вам полезную целевую информацию по продуктам, услугам и сервисам, которые могут Вас заинтересовать.
              </li>
              <li class="list__item">
                4.6. <b>Обязательные</b>. Это минимальный набор Cookies, использование которых необходимо для обеспечения правильной и бесперебойной работы сайта.
              </li>
            </ul>
          </li>
          <li class="list__item list__item--ol">
            <h2>Как отказаться от cookie</h2>
            <ul class="list list--unordered">
              <li class="list__item">
                5.1. Вы можете регулировать сбор информации cookie путем произведения соответствующих настроек в Вашем веб-клиенте (веб-браузере). Чтобы получить инструкцию, как блокировать или удалить любые cookie, зайдите в раздел «Помощь» или «Поддержка» вашего веб-клиента (веб-браузера). В случае отключения функции cookie или ее блокировки мы не сможем гарантировать работоспособность Сайта и доступность его функционала в полном объеме. Информацию об управлении cookie в веб-клиенте (веб-браузере) можно получить по следующим ссылкам:

                <div class="rights-sublist__items">
                  <span>- Explorer: <a href="https://support.microsoft.com/ru-ru/help/17442/windows-internet-explorer-delete-manage-cookies#" aria-label="Узнать больше об использовании cookie в браузере" target="_blank" class="underline">https://support.microsoft.com/ru-ru/help/17442/windows-internet-explorer-delete-manage-cookies#</a> .</span>
                  <span>- Firefox: <a href="https://support.mozilla.org/ru/kb/vklyuchenie-i-otklyuchenie-kukov-ispolzuemyh-veb-s." aria-label="Узнать больше об использовании cookie в браузере" target="_blank" class="underline">https://support.mozilla.org/ru/kb/vklyuchenie-i-otklyuchenie-kukov-ispolzuemyh-veb-s</a> .</span>
                  <span>- Google: <a href="https://support.google.com/chrome/answer/95647?hl=ru" aria-label="Узнать больше об использовании cookie в браузере" target="_blank" class="underline">https://support.google.com/chrome/answer/95647?hl=ru</a> .</span>
                  <span>- Safari: <a href="https://support.apple.com/ru-ru/guide/safari/sfri11471/mac" aria-label="Узнать больше об использовании cookie в браузере" target="_blank" class="underline">https://support.apple.com/ru-ru/guide/safari/sfri11471/mac</a> .</span>
                </div>
              </li>
            </ul>
          </li>
          <li class="list__item list__item--ol">
            <h2>Заключительные положения Политики</h2>
            <ul class="list list--unordered">
              <li class="list__item">
                6.1. Периодически могут вноситься изменения и/или дополнения в Политику. Пользователю рекомендуется регулярно просматривать данную страницу, чтобы иметь актуальную информацию. Любые изменения в Политику вступают в силу с момента ее размещения на сайте.
              </li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
  </section>
</Layout>


