---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Публичная оферта / YourSpace"
  description="Узнайте больше о публичной оферте YourSpace"
>
  <section class="rights">
    <div class="layout">
      <h1>ПУБЛИЧНАЯ ОФЕРТА</h1>
      <p class="text-center">
        о заключении договора на оказание услуг по установке платформы умного
        дома
      </p>
      <div class="rights__update">
        Последнее обновление: <b>г. Санкт-Петербург, Июль 2025</b>
      </div>

      <div class="rights__content">
        <p class="rights__paragraph">
          Общество с ограниченной ответственностью «МУЛЬТИАГЕНТНЫЕ СИСТЕМЫ»
          (ОГРН 1217800127050, ИНН 7840097350, юридический адрес: 195299, Город
          Санкт-Петербург, вн.тер.г. муниципальный округ № 21, ул Киришская, д.
          2, литера А, помещ. 2-Н, каб. К18-3, e-mail: <a
            aria-label="Свяжитесь с нами по почте - sales@multi-agent.io"
            class="underline"
            href="mailto:sales@multi-agent.io">sales@multi-agent.io</a
          >, телефон: <a
            aria-label="Позвоните нам по номеру -  +79046179364"
            class="underline"
            href="tel:+79046179364">+7 (904) 617-93-64</a
          >, именуемое в дальнейшем «Исполнитель», настоящей офертой предлагает
          любому физическому или юридическому лицу, именуемому далее «Заказчик»
          заключить договор на оказание услуг по установке платформы умного дома
          (далее – «Договор»).
        </p>

        <p class="rights__paragraph">
          Договор заключается путем совершения нижеследующих действий,
          предусмотренных настоящей офертой (далее – «Оферта»).
        </p>
        <p class="rights__paragraph">
          В соответствии с п. 2 ст. 437 Гражданского Кодекса РФ в случае
          принятия изложенных ниже условий и оплаты услуг, лицо, производящее
          акцепт этой Оферты становится «Заказчиком» (в соответствии с п. 3 ст.
          438 ГК РФ акцепт Оферты равносилен заключению договора на условиях,
          изложенных в Оферте), а Исполнитель и Заказчик совместно – сторонами
          (далее – «Стороны») договора, заключаемого посредством акцепта оферты.
        </p>
        <p class="rights__paragraph">
          Внимательно ознакомьтесь с текстом данной Оферты, и, если Вы не
          согласны на ее условия и правила, или с каким-либо другим пунктом ее
          условия, Исполнитель предлагает Вам отказаться от заключения договора,
          предусмотренного настоящей Офертой.
        </p>

        <ol class="list list--ordered">
          <li class="list__item list__item--ol">
            <h2>Термины и определения</h2>
            <ul class="list list--unordered">
              <li class="list__item">
                1.1. <b>Акцепт</b> – полное и безоговорочное согласие Заказчика заключить
                Договор на условиях, представленных в Оферте, путем выполнения действий,
                указанных в Разделе 2 Оферты.
              </li>
              <li class="list__item">
                1.2. <b>Оферта</b> – текст настоящего документа, являющегося предложением
                заключить Договор на условиях, изложенных в настоящем документе.
                Оферта опубликована для всеобщего ознакомления в информационно-коммуникационной
                сети Интернет по адресу <a
                  href="https://yourspace.multi-agent.io/public-offer/"
                  aria-label="Узнать больше о публичной оферте нашего сайта"
                  class="underline"
                  target="_blank">https://yourspace.multi-agent.io/public-offer/</a
                >.
              </li>
              <li class="list__item">
                1.3. <b>Исполнитель</b> – Общество с ограниченной ответственностью
                «МУЛЬТИАГЕНТНЫЕ СИСТЕМЫ» (ОГРН 1217800127050, ИНН 7840097350, юридический
                адрес: 195299, Город Санкт-Петербург, вн.тер.г. муниципальный округ
                № 21, ул Киришская, д. 2, литера А, помещ. 2-Н, офис К-18, e-mail:
                <a
                  aria-label="Свяжитесь с нами по почте - sales@multi-agent.io"
                  class="underline"
                  href="mailto:sales@multi-agent.io">sales@multi-agent.io</a
                >, телефон: <a
                  aria-label="Позвоните нам по номеру -  +79046179364"
                  class="underline"
                  href="tel:+79046179364">+7 (904) 617-93-64</a
                >, оказывающий услуги по установке платформы
              </li>
              <li class="list__item">
                1.4. <b>Заказчик</b> – физическое лицо, или юридическое лицо, заключившее
                с Исполнителем Договор на условиях, содержащихся в Оферте, и заказывающее
                услуги по установке платформы умного дома.
              </li>
              <li class="list__item">
                1.5. <b>Обращение</b> – сообщение Заказчика в адрес Исполнителя,
                в том числе и через форму заказа услуги на сайте <a
                  href="https://yourspace.multi-agent.io"
                  aria-label="Перейти на главную страницу нашего сайта"
                  class="underline"
                  target="_blank">https://yourspace.multi-agent.io/</a
                >, с запросом на установку платформы умного дома. содержащее имя
                и фамилию Заказчика (а 2 если Заказчик субъект
                предпринимательской деятельности или организация, то –
                наименование юридического лица или индивидуального
                предпринимателя), контактный телефон, адрес электронной почты,
                адрес объекта, на котором следует установить платформу умного
                дома.
              </li>
              <li class="list__item">
                1.6. <b>Конфиденциальная информация</b> - информация, отнесенная
                к конфиденциальной в соответствии с законодательством РФ (персональная
                информация, тайна телефонных переговоров и др.), а также любая информация
                или ее часть, отнесенная передающей стороной к конфиденциальной,
                и имеющая маркировку «конфиденциально» или аналогичную, или иным
                образом (например – в договоре) обозначенная как конфиденциальная.
              </li>
            </ul>
          </li>
          <li class="list__item list__item--ol">
            <h2>Акцепт</h2>
            <ul class="list list--unordered">
              <li class="list__item">
                2.1. Заказчик совершает Акцепт Оферты путем принятия условий
                Оферты в момент отправления Обращения Исполнителю, указанного в
                пункте 1.5 Оферты.
              </li>
              <li class="list__item">
                2.2. Для выражения Акцепта Заказчик должен последовательно
                совершить следующие действия:
                <ul class="list list-inside">
                  <li class="list__item">
                    2.2.1. Ознакомиться с Офертой по адресу <a
                      href="https://yourspace.multi-agent.io/offer/"
                      aria-label="Узнать больше о публичной оферте нашего сайта"
                      class="underline"
                      target="_blank">https://yourspace.multi-agent.io/offer/</a
                    >, после чего принять ее условия (соответствующие
                    ссылка/отметка/галочка в форме заказа на услуги).
                  </li>
                  <li class="list__item">
                    2.2.2. Связаться с Исполнителем путем отправки ему Обращения
                    через форму заказа на услуги на сайте <a
                      href="https://yourspace.multi-agent.io"
                      aria-label="Перейти на главную страницу нашего сайта"
                      class="underline"
                      target="_blank">https://yourspace.multi-agent.io/</a
                    >).
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="list__item list__item--ol">
            <h2>Предмет и порядок исполнения Договора</h2>
            <ul class="list list--unordered">
              <li class="list__item">
                3.1. Исполнитель обязуется оказать Заказчику по его запросу
                услуги по установке платформы умного дома (далее – «услуги») по
                данным, указанным в Обращении Заказчика, а Заказчик обязуется
                оплатить эти услуги по стоимости, указанной Исполнителем в
                переписке с Заказчиком.
              </li>
              <li class="list__item">
                3.2. Исполнитель выполняет работы с учетом положений настоящего
                Договора.
              </li>
              <li class="list__item">
                3.3. Порядок исполнения Договора:
                <ul class="list list-inside">
                  <li class="list__item">
                    3.3.1. Получив от Заказчика Обращение, сотрудник Исполнителя
                    осуществляет замеры на объекте, на котором планируется
                    оказание услуг, и согласовывает с Заказчиком нужные ему
                    параметры платформы умного дома.
                  </li>
                  <li class="list__item">
                    3.3.2. Исполнитель направляет по электронной почте или
                    посредством мессенджера Заказчику коммерческое предложение
                    на оказание услуг и смету на оказание услуг, а после
                    согласования с Заказчиком условий выполнения заказа и проект
                    договора оказания услуг в виде договора-заказа (далее –
                    «договор-заказ»).
                  </li>
                  <li class="list__item">
                    3.3.3. Стороны заключают договор заказ путем обмена
                    посредством электронной почты или чатов мессенджеров
                    односторонне подписанными экземплярами договора-заказа,
                    отсканированными в виде pdf-файлов.
                  </li>
                  <li class="list__item">
                    3.3.4. Исполнитель направляет Заказчику ссылку на предоплату
                    части оплаты по договору-заказу (в том числе и в виде
                    QR-кода).
                  </li>
                  <li class="list__item">
                    3.3.5. После оплаты Заказчиком предоплаты по договору-заказу
                    Исполнитель осуществляет закупку компонентов платформы
                    умного дома, их преднастройку и, согласовав с Заказчиком
                    дату и время оказания услуг, осуществляет их оказание.
                  </li>
                  <li class="list__item">
                    3.3.6. В ходе исполнения Договора Исполнитель может привлечь
                    к оказанию услуг в качестве соисполнителя третьих лиц, неся
                    за них ответственность перед Заказчиком, как за себя самого.
                  </li>
                  <li class="list__item">
                    3.3.7. В ходе исполнения Договора по инициативе одной Стороны
                    и при условии согласования с другой Стороной возможно изменение
                    к спецификации к договору-заказу.
                  </li>
                  <li class="list__item">
                    3.3.8. Обстоятельства, указанные в пункте 3.3.7 Оферты,
                    вступают в силу, при условии подписания Сторонами дополнительного
                    соглашения к договору-заказу.
                  </li>
                  <li class="list__item">
                    3.3.9. Заказчик принимает от сотрудника Исполнителя заказ
                    (результат оказания услуг) по акту сдачи-приемку оказанных
                    услуг, после чего в течение одного дня обязуется произвести
                    оплату оставшейся части денежных средств по договору-заказу.
                  </li>
                </ul>
              </li>
              <li class="list__item">
                3.4. Заказчик вправе отказаться от исполнения настоящего
                Договора при условии оплаты фактически оказанных Исполнителем
                услуг до такого отказа.
              </li>
              <li class="list__item">
                3.5. Исполнитель вправе отказаться от исполнения настоящего
                Договора при условии оплаты фактически понесенных Заказчиком
                расходов на не оказанные Исполнителем услуги.
              </li>
              <li class="list__item">
                3.6. Срок оказания услуг: устанавливается в договоре-заказе.
              </li>
              <li class="list__item">
                3.7. Все претензии к качеству услуг могут быть предъявлены при
                приеме- передачи заказа (результата оказанных услуг).
              </li>
              <li class="list__item">
                3.8. Заказчик, принявший заказ без проверки, лишается права на
                предъявление претензии по качеству услуг в связи с недостатками,
                которые могли бы быть устранены при приеме заказа (ст. 783 и ч.
                3 ст. 720 Гражданского кодекса РФ).
              </li>
              <li class="list__item">
                3.9. Гарантийный срок на оказанные услуги (на работоспособность
                всех компонентов платформы согласно указанным в
                договоре-заказе): один год со дня приема-передачи заказа.
              </li>
            </ul>
          </li>
          <li class="list__item list__item--ol">
            <h2>Права и обязанности Сторон</h2>
            <ul class="list list--unordered">
              <li class="list__item list__item--underline">
                4.1. Исполнитель обязуется:
                <ul class="list list-inside">
                  <li class="list__item">
                    4.1.1. Оказать услуги в полном объеме, своевременно и
                    надлежащим качеством.
                  </li>
                  <li class="list__item">
                    4.1.2. Информировать Заказчика о предполагаемых изменениях и
                    последствиях, которые могут возникнуть у Заказчика в ходе
                    или в результате оказания услуг, если таковые изменения и
                    последствия предвидятся Исполнителем.
                  </li>
                  <li class="list__item">
                    4.1.3. Выполнять иные обязанности, предусмотренные Договором
                    и действующим законодательством.
                  </li>
                </ul>
              </li>
              <li class="list__item list__item--underline">
                4.2. Исполнитель имеет право:
                <ul class="list list-inside">
                  <li class="list__item">
                    4.2.1. Требовать от Заказчика надлежащего выполнения
                    принятых им обязательств по настоящему Договору.
                  </li>
                  <li class="list__item">
                    4.2.2. Требовать от Заказчика устранения обстоятельств,
                    препятствующих исполнению Договора.
                  </li>
                  <li class="list__item">
                    4.2.3. Пользоваться иными правами, предусмотренными
                    Договором и действующим законодательством.
                  </li>
                </ul>
              </li>
              <li class="list__item list__item--underline">
                4.3. Заказчик обязуется:
                <ul class="list list-inside">
                  <li class="list__item">
                    4.3.1. Взаимодействовать с Исполнителем только в пределах
                    тех прав и теми способами, которые предусмотрены настоящим
                    договором.
                  </li>
                  <li class="list__item">
                    4.3.2. Не допускать действий, нарушающих исключительные
                    права Исполнителя.
                  </li>
                  <li class="list__item">
                    4.3.3. Уплатить Исполнителю обусловленную настоящим
                    Договором оплату в порядке, установленном разделом 5 Оферты.
                  </li>
                  <li class="list__item">
                    4.3.4. Представлять дополнительные документы, запрашиваемые
                    Исполнителем, необходимые для оказания услуг в соответствии
                    с настоящим Договором.
                  </li>
                  <li class="list__item">
                    4.3.5. Выполнять иные обязанности, предусмотренные Договором
                    и действующим законодательством.
                  </li>
                </ul>
              </li>
              <li class="list__item list__item--underline">
                4.4. Заказчик имеет право:
                <ul class="list list-inside">
                  <li class="list__item">
                    4.4.1. Требовать от Исполнителя надлежащего выполнения
                    принятых им обязательств по настоящему Договору.
                  </li>
                  <li class="list__item">
                    4.4.2. Пользоваться иными правами, предусмотренными
                    Договором и действующим законодательством.
                  </li>
                </ul>
              </li>
              <li class="list__item list__item--underline">
                4.5. Заказчик не вправе:
                <ul class="list list-inside">
                  <li class="list__item">
                    4.5.1. Вносить изменения и дополнения в Оферту.
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="list__item list__item--ol">
            <h2>Цена Договора и расчеты Сторон</h2>
            <ul class="list list--unordered">
              <li class="list__item">
                5.1. В общую цену Договора включены стоимость услуг, оказываемых
                Исполнителем, все расходы Исполнителя, связанные с исполнением
                Договора в полном объеме, в том числе обязательные платежи в
                соответствии с законодательством Российской Федерации.
              </li>
              <li class="list__item">
                5.2. Цена Договора указана в переписке Исполнителя с Заказчиком.
              </li>
              <li class="list__item">
                5.3. Заказчик производит оплату по реквизитам расчетного счета
                Исполнителя.
              </li>
              <li class="list__item">
                5.4. Порядок оплаты по Договору установлен в договоре-заказе.
              </li>
            </ul>
          </li>
          <li class="list__item list__item--ol">
            <h2>Политика конфиденциальности</h2>
            <ul class="list list--unordered">
              <li class="list__item">
                6.1. На основе своих договорных обязательств Стороны несут
                ответственность за использование всей информацией, полученной
                или созданной в ходе выполнения настоящего Договора в течение
                трех лет после окончания срока действия Договора.
              </li>
              <li class="list__item">
                6.2. Предоставление стороной по Договору третьим лицам
                информации, полученной или созданной в ходе исполнения
                настоящего Договора, допускается при наличии письменной
                договоренности между Сторонами о возможности разглашения такой
                информации.
              </li>
              <li class="list__item">
                6.3. Вся прочая информация, полученная или созданная в ходе
                исполнения настоящего Договора, считается служебной информацией
                и должна рассматриваться как конфиденциальная.
              </li>
              <li class="list__item">
                6.4. Стороны обязуются сохранять конфиденциальную информацию и
                принимать все необходимые меры для ее защиты.
              </li>
              <li class="list__item">
                6.5. Стороны настоящим соглашаются, что не разгласят и не
                допустят разглашения конфиденциальной информации никаким третьим
                лицам без предварительного письменного согласия другой Стороны,
                кроме случаев непреднамеренного и/или вынужденного раскрытия
                конфиденциальной информации по причине обстоятельств
                непреодолимой силы или в силу требований действующего
                законодательства Российской Федерации, вступивших в силу решений
                суда соответствующей юрисдикции либо законных требований
                компетентных органов государственной власти и управления, при
                условии, что в случае любого такого раскрытия Сторона
                предварительно уведомит другую Сторону о наступлении
                соответствующего события, с которым связана необходимость
                раскрытия конфиденциальной информации, а также об условиях и
                сроках такого раскрытия, и Сторона раскроет только ту часть
                Конфиденциальной информации, раскрытие которой необходимо в силу
                применения положений действующего законодательства Российской
                Федерации, вступивших в законную силу решений судов
                соответствующей юрисдикции либо законных требований компетентных
                органов государственной власти и управления.
              </li>
              <li class="list__item">
                6.6. Для целей настоящего Договора «Разглашение конфиденциальной
                информации» означает несанкционированные соответствующей
                Стороной действия другой Стороны, в результате которых
                какие-либо третьи лица получают доступ и возможность
                ознакомления с конфиденциальной информацией. Разглашением
                конфиденциальной информации признается также бездействие
                соответствующей Стороны, выразившееся в необеспечении
                надлежащего уровня защиты конфиденциальной информации и
                повлекшее получение доступа к такой информации со стороны
                каких-либо третьих лиц.
              </li>
              <li class="list__item">
                6.7. Соответствующая Сторона несет ответственность за убытки,
                которые могут быть причинены другой Стороне в результате
                разглашения конфиденциальной информации или несанкционированного
                использования конфиденциальной информации, за исключением
                случаев раскрытия Конфиденциальной информации, предусмотренных в
                пункте 6.5 Оферты.
              </li>
              <li class="list__item">
                6.8. В случае, если Заказчик заказывает услуги для третьих лиц,
                то, в соответствии с законодательством до передачи Исполнителю
                их персональных данных Заказчик обязуется получить от таких
                третьих лиц согласия на обработку и передачу их персональных
                данных Исполнителю. Нарушение данных требований не влечет
                ответственность со стороны Исполнителя.
              </li>
              <li class="list__item">
                6.9. Исполнитель обязуется по письменному запросу Заказчика
                возвратить Заказчику переданные им персональные данные либо
                уничтожить обрабатываемые персональные данные в срок, не
                превышающий 10 (десяти) календарных дней с момента получения
                такого запроса.
              </li>
              <li class="list__item">
                6.10. Обработка персональных данных осуществляется Заказчиком в
                соответствии с Политикой обработки персональных данных (<a
                  href="https://yourspace.multi-agent.io/privacy-policy/"
                  aria-label="Политика конфиденциальности нашего сайта"
                  class="underline"
                  target="_blank">https://yourspace.multi-agent.io/privacy-policy/</a
                >).
              </li>
            </ul>
          </li>
          <li class="list__item list__item--ol">
            <h2>Форс-мажор</h2>
            <ul class="list list--unordered">
              <li class="list__item">
                7.1. Сторона, для которой создалась невозможность полного либо
                частичного исполнения обязательств по настоящему Договору
                вследствие наступления обстоятельств непреодолимой силы, обязана
                немедленно информировать другую сторону о наступлении этих
                обстоятельств в письменном виде с предоставлением
                подтверждающего документа не позднее 5 (пяти) календарных дней с
                даты их наступления.
              </li>
              <li class="list__item">
                7.2. В случае прекращения указанных обстоятельств Сторона в
                течение 5 (пяти) календарных дней должна известить об этом
                другую Сторону в письменном виде и предпринять все разумные
                меры, чтобы в кратчайшие сроки преодолеть невозможность
                выполнения обязательств по настоящему Договору.
              </li>
            </ul>
          </li>
          <li class="list__item list__item--ol">
            <h2>Ответственность Сторон и порядок разрешения споров</h2>
            <ul class="list list--unordered">
              <li class="list__item">
                8.1. Ответственность Сторон в случаях, не предусмотренных
                настоящей Офертой, определяется в соответствии с нормами
                действующего законодательства Российской Федерации.
              </li>
              <li class="list__item">
                8.2. Максимальная ответственность Исполнителя по настоящему
                договору ограничивается суммой, которую Заказчик уплатил за
                услуги.
              </li>
              <li class="list__item">
                8.3. Исполнитель ни при каких обстоятельствах не несет перед
                Заказчиком ответственности за ущерб, вынужденные перерывы в
                деловой активности, потерю деловых либо иных данных или
                информации, претензии или расходы, косвенные или случайные
                убытки, а также упущенную выгоду и утерянные сбережения,
                вызванные действиями авиакомпаний в отношении рейсов по
                забронированным билетам, а также за любые потери, претензии или
                со стороны третьих лиц.
              </li>
              <li class="list__item">
                8.4. В случае причинения Исполнителем ущерба деловой репутации
                от действий Заказчика Исполнитель вправе подать в суд на
                Заказчика и потребовать материальной компенсации.
              </li>
              <li class="list__item">
                8.5. Никакие судебные иски о возмещении ущерба не могут быть
                предприняты против Исполнителя по какой-либо причине, связанной
                с настоящим Договором, если такое неисполнение обязательств
                вызвано какими-либо обстоятельствами, находящимися вне контроля
                Исполнителя. Такие 6 обстоятельства включают, помимо прочего,
                стихийные бедствия, войну, взлом системы, беспорядки, саботаж и
                любые форс-мажорные обстоятельства.
              </li>
              <li class="list__item">
                8.6. Ответственность Исполнителя за ущерб, причиненный
                Заказчику, по любой причине и независимо от формы действия,
                включая халатность или иное, возникает на основании решения
                суда.
              </li>
              <li class="list__item">
                8.7. Споры, возникшие при исполнении настоящего Договора,
                рассматриваются с соблюдением претензионного порядка
                рассмотрения споров по месту нахождения Исполнителя.
              </li>
              <li class="list__item">
                8.8. Стороны устанавливают, что все возможные претензии по
                настоящему Договору должны быть рассмотрены в течение 30
                (тридцати) календарных дней с момента получения претензии.
              </li>
            </ul>
          </li>
          <li class="list__item list__item--ol">
            <h2>Срок действия и порядок расторжения договора</h2>
            <ul class="list list--unordered">
              <li class="list__item">
                9.1. Заказчик соглашается с тем, что оплата по Договору
                Исполнителю означает, что Заказчик принимает и обязуется
                соблюдать все условия настоящего Договора без оговорок и
                исключений. Настоящий договор действует до выполнения
                обязанностей Сторонами.
              </li>
              <li class="list__item">
                9.2. Если Заказчик не ознакомился с условиями Договора, это не
                освобождает Заказчика от ответственности и не отменяет
                заключение Договора.
              </li>
              <li class="list__item">
                9.3. Действующая редакция Договора доступна в сети Интернет по
                адресу: <a
                  href="https://yourspace.multi-agent.io/offer/"
                  aria-label="Узнать больше о публичной оферте нашего сайта"
                  class="underline"
                  target="_blank">https://yourspace.multi-agent.io/offer/</a
                >.
              </li>
              <li class="list__item">
                9.4. Если Заказчик заказывает услуги после внесения любых
                изменений/дополнений в Договор, это означает, что Заказчик
                согласен и принимает такие изменения/дополнения.
              </li>
              <li class="list__item">
                9.5. Если Заказчик не согласен соблюдать условия Договора, то
                Заказчик обязан прекратить коммуникацию с Исполнителем
                посредством обмена электронными письмами.
              </li>
              <li class="list__item">
                9.6. Настоящий договор может быть расторгнут по соглашению
                Сторон, а также в иных случаях, предусмотренных действующим
                законодательством РФ.
              </li>
              <li class="list__item">
                9.7. Заказчик не вправе передавать свои права и обязанности по
                настоящему договору любому третьему лицу, без письменного
                согласия Исполнителя.
              </li>
            </ul>
          </li>
          <li class="list__item list__item--ol">
            <h2>Заключительные положения</h2>
            <ul class="list list--unordered">
              <li class="list__item">
                10.1. Во всем остальном, что не предусмотрено настоящим
                Договором, стороны руководствуются действующим законодательством
                Российской Федерации.
              </li>
              <li class="list__item">
                10.2. Стороны признают надлежащим подписание договора, отчетов,
                актов, дополнительных соглашений путем обмена подписанными
                отсканированными копиями по электронной почте, а также признают
                юридическую силу за всей электронной перепиской, включая
                пересылаемые вложенные файлы, в чате мессенджеров между
                аккаунтом Исполнителя и аккаунтом Заказчика. Данный пункт
                настоящего Договора основан на ч. 2 ст. 434 Гражданского кодекса
                РФ, позволяющей признать, при обоюдном согласии Сторон,
                юридическую силу документов, полученных путем обмена посредством
                почтовой, телеграфной, телетайпной, телефонной, электронной или
                иной связи, позволяющей достоверно установить, что документ
                исходит от Стороны по договору.
              </li>
              <li class="list__item">
                10.3. Сторона не вправе передавать свои права и обязательства по
                настоящему Договору третьим лицам без предварительного
                письменного согласия другой Стороны.
              </li>
              <li class="list__item">
                10.4. Ссылки на слово или термин в настоящем Договоре в
                единственном числе включают в себя ссылки на это слово или
                термин во множественном числе. Ссылки на слово или термин во
                множественном числе включают в себя ссылки на это слово или
                термин в единственном числе. Данное правило применимо, если из
                текста настоящего Договора не вытекает иное.
              </li>
              <li class="list__item">
                10.5. Для целей удобства в настоящем договоре под Сторонами
                также понимаются их уполномоченные лица, а также их возможные
                правопреемники.
              </li>
              <li class="list__item">
                10.6. Условия настоящего Договора обязательны для
                правопреемников Сторон.
              </li>
              <li class="list__item">
                10.7. Совершая Акцепт Оферты, Заказчик тем самым подтверждает
                свое согласие на обработку Исполнителем принадлежащих ему
                персональных данных, а именно: на сбор, запись, систематизацию,
                накопление, хранение, уточнение (обновление, изменение),
                извлечение, использование, передача персональных данных в
                авиакомпании (распространение, предоставление, доступ,
                трансграничная передача), таких как: имя и фамилия (а если
                Заказчик субъект предпринимательской деятельности или
                организация, то – наименование юридического лица или
                индивидуального предпринимателя), контактный телефон, адрес
                электронной почты, адрес, указанный Заказчиком, IP-адрес,
                технические характеристики оборудования и программного
                обеспечения, используемых Заказчиком, данные файлов cookie,
                информация о браузере пользователя, технические характеристики
                оборудования и программного обеспечения, используемых
                пользователем, а также удаление и уничтожение представленных
                персональных данных.
              </li>
            </ul>
          </li>
          <li class="list__item list__item--ol">
            <h2>Срок действия и изменения оферты</h2>
            <ul class="list list--unordered">
              <li class="list__item">
                11.1. Исполнитель оставляет за собой право внести изменения в
                условия Оферты и/или отозвать Оферту (снять ее с публикации) в
                любой момент по своему усмотрению.
              </li>
              <li class="list__item">
                11.2. Сведения об изменении или отзыве Оферты доводятся
                посредством размещения по адресу <a
                  href="https://yourspace.multi-agent.io/offer/"
                  aria-label="Узнать больше о публичной оферте нашего сайта"
                  class="underline"
                  target="_blank">https://yourspace.multi-agent.io/offer/</a
                > и вступают в силу с момента такого размещения.
              </li>
            </ul>
          </li>
        </ol>

        <div class="rights-address">
          <h2 class="text-left">Реквизиты Исполнителя</h2>
          <h3>
            Общество с ограниченной ответственностью «МУЛЬТИАГЕНТНЫЕ СИСТЕМЫ»
          </h3>
          <span>ОГРН 1217800127050,</span>
          <span>ИНН 7840097350 / КПП 780401001</span>
          <address>
            адрес: 195299, Город Санкт-Петербург, вн.тер.г. муниципальный округ
            № 21, ул Киришская, д. 2, литера А, помещ. 2-Н, каб. К18-3,
          </address>
          <span
            >e-mail: <a
              aria-label="Свяжитесь с нами по почте - sales@multi-agent.io"
              class="underline"
              href="mailto:sales@multi-agent.io">sales@multi-agent.io</a
            ></span
          >
          <span
            >WhatsApp/Telegram: <a
              aria-label="Позвоните нам по номеру -  +79046179364"
              class="underline"
              href="tel:+79046179364">+7 (904) 617-93-64</a
            ></span
          >
        </div>
      </div>
    </div>
  </section>
</Layout>
