---
import {withBase} from '../utils/withBase';

interface FooterProps {
  companyName: string;
  year: number;
}

const props: FooterProps = {
  companyName: "Мультиагентные системы",
  year: new Date().getFullYear(),
};
---


<footer class="footer">
  <div class="layout">
    <div class="copyright">© {props.companyName} {props.year}</div>
      <nav class="footer__nav">
        <ul class="footer__list">
          <li class="footer__item">
            <a class="underline" href={withBase('/about-us/')} aria-label="Узнать больше о нас">О нас</a>
          </li>
          <li class="footer__item">
            <a class="underline" href={withBase('/#features')} aria-label="Перейти к разделу 'Возможности'">Возможности</a>
          </li>
          <li class="footer__item">
            <a class="underline" href={withBase('/#cases')} aria-label="Перейти к разделу 'Кейсы'">Кейсы</a>
          </li>
          <li class="footer__item">
            <a class="underline" href={withBase('/#steps')} aria-label="Перейти к разделу 'Этапы Работы'">Этапы Работы</a>
          </li>
        </ul>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="underline" href={withBase('/terms/')} aria-label="Узнать больше об условиях использования">Условия использования</a>
          </li>
          <li class="footer__item">
            <a class="underline" href={withBase('/offer/')} aria-label="Узнать больше о публичной оферте">Публичная оферта</a>
          </li>
          <li class="footer__item">
            <a class="underline" href={withBase('/privacy-policy/')} aria-label="Узнать больше о политике конфиденциальности">Политика конфиденциальности</a>
          </li>
          <li class="footer__item">
            <a class="underline" href={withBase('/cookies/')} aria-label="Узнать больше о политике использования cookies">Политика использования cookies</a>
          </li>
        </ul>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="underline" href="https://shop.multi-agent.io/" aria-label="Посетить наш магазин умных устройств" target="_blank">Магазин</a>
          </li>
          <li class="footer__item">
            <a class="underline" href={withBase('/about-us/#contacts')} aria-label="Свяжитесь с нами">Контакты</a>
          </li>
          <li class="footer__item footer__item--socials">
            <a href="https://t.me/YourSpaceSpb" class="social__link social__link--tg" aria-label="Свяжитесь с нами в телеграмме" target="_blank">
              <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 0C24.8369 0 32 7.33248 32 16.3783C32 25.4241 24.8369 32.7565 16 32.7565C7.16313 32.7565 0 25.4241 0 16.3783C0 7.33248 7.16313 0 16 0ZM21.5193 23.0542C21.8136 22.1299 23.1923 12.9182 23.3628 11.103C23.4143 10.5533 23.2445 10.188 22.912 10.0249C22.5099 9.82696 21.9144 9.92594 21.2237 10.1809C20.2762 10.5305 8.16348 15.7951 7.46365 16.0998C6.8 16.3882 6.17252 16.703 6.17252 17.1587C6.17252 17.4792 6.35826 17.6593 6.87026 17.8466C7.40313 18.041 8.74504 18.4576 9.53739 18.6812C10.3005 18.897 11.1694 18.7097 11.6563 18.3999C12.1725 18.0716 18.1294 13.9913 18.5572 13.6338C18.9843 13.2764 19.3252 13.7342 18.976 14.0924C18.6268 14.4499 14.5377 18.5124 13.9986 19.075C13.344 19.7579 13.8087 20.4657 14.2477 20.7491C14.7492 21.0724 18.3562 23.5491 18.8995 23.9465C19.4428 24.3438 19.9937 24.524 20.4981 24.524C21.0024 24.524 21.2682 23.8439 21.5193 23.0542Z" fill="black"/>
              </svg>
            </a>
            <a href="https://rutube.ru/channel/64741474/" class="social__link social__link--rutube" target="_blank" aria-label="Посетить наш rutube канал">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_4139_16759" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="33" height="32">
                <path d="M24.2443 0H7.75579C3.47238 0 0 3.47238 0 7.75579V24.2443C0 28.5277 3.47238 32.0001 7.75579 32.0001H24.2443C28.5277 32.0001 32.0001 28.5277 32.0001 24.2443V7.75579C32.0001 3.47238 28.5277 0 24.2443 0Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_4139_16759)">
                <path class="rt-main-path" d="M32.0001 0H0V32.0001H32.0001V0Z" fill="black"/>
                <path d="M32 16.0033C40.8391 16.0033 47.9967 8.83897 47.9967 0.00654221C47.9967 -8.82588 40.8391 -15.9968 32 -15.9968C23.1609 -15.9968 16.0033 -8.83253 16.0033 -0.000102997C16.0033 8.83232 23.1676 15.9966 32 15.9966V16.0033Z" fill="#999999"/>
                <path d="M19.7649 15.2722H10.3144V11.5305H19.7649C20.3165 11.5305 20.702 11.6235 20.8947 11.7963C21.0875 11.9625 21.2071 12.2748 21.2071 12.7334V14.0759C21.2071 14.5544 21.0875 14.8668 20.8947 15.0329C20.702 15.199 20.3165 15.2722 19.7649 15.2722ZM20.4162 8.00152H6.30029V23.9982H10.3078V18.7945H17.698L21.2071 23.9982H25.6997L21.8318 18.7679C23.254 18.5552 23.8987 18.1233 24.4237 17.3988C24.9487 16.6811 25.2146 15.5313 25.2146 13.9895V12.7932C25.2146 11.8827 25.1149 11.165 24.9487 10.6134C24.7826 10.0618 24.4902 9.58325 24.0848 9.15126C23.6528 8.74586 23.1743 8.45344 22.5961 8.26071C22.0179 8.09456 21.3001 7.99487 20.4096 7.99487L20.4162 8.00152Z" fill="white"/>
                </g>
              </svg>
            </a>
          </li>
      </ul>
    </nav>
  </div>
</footer>

<style is:global>
  .dark .social__link {
    filter: invert(100%);
  }
</style>

<style>
  .footer .layout {
    display: flex;
    justify-content: space-between;
    gap: var(--space);
    border-top: 1px solid var(--color-dark);
  }

  .copyright {
    font-variation-settings:  'wght' 400, 'wdth' 120, 'opsz' 32, 'XTRA' 520, 'XOPQ' 96, 'YOPQ' 79, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738, 'YTLC' 514, 'YTUC' 712;
    color: var(--color-dark);
  }

  .footer__nav {
    display: flex;
    gap: calc(var(--space) * 2);
    line-height: 1.5;
  }

  .footer__item {
    margin-bottom: 0;
    break-inside: avoid-column;
  }

  .footer__nav a {
    color: var(--color-dark);
  }

  .footer__item--socials {
    margin-top: var(--space-half);
    display: flex;
    gap: var(--space-half);
  }

  .social__link svg path {
    transition: fill 0.3s ease;
  }

  .social__link--tg.social__link:hover svg path,
  .social__link--rutube.social__link:hover .rt-main-path {
    fill: var(--color-green)
  }

  

  @media screen and (max-width: 800px) {
    .footer .layout {
      flex-direction: column;
    }
  }

    @media screen and (max-width: 650px) {
     .footer__nav  {
      flex-direction: column;
    }
  }
</style>