body, html{
	min-height: 100%;
	height: 100%;
	position: relative;
}

html{
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  color: var(--text-color);
  font-family: var(--font-family);
  font-variation-settings: var(--font-flex-base);
  line-height: 1.5;
  background-color: var(--color-light);
  transition: color .6s, background-color .6s;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}


.layout {
	max-width: var(--content-width);
	margin: 0 auto;
	padding: calc(var(--space) * 0.8) var(--space);
	overflow: hidden;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
	transition: color 0.33s ease-in-out;
}

.section-blue {
  padding: var(--space) 0;
  background-color: rgba(160, 197, 232, 0.21);
}