* {
  margin: 0;
  padding: 0;
  outline: 0;
  background: transparent;
  vertical-align: baseline;

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  border: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

nav ul {
  list-style: none;
}

li {
  line-height: 1.6;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  vertical-align: middle;
  border-radius: 0;
}

sup {
  vertical-align: super;
}
sub {
  vertical-align: sub;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  color: var(--color-dark);
  text-decoration: none;
  font-variation-settings: 'GRAD' 132, 'wdth' 120;
}

button {
  font-family: var(--font-family);
  font-variation-settings: var(--font-flex-bold);
  background-color: transparent;
  border: 1px solid transparent;
}
